:root{
    --primary1: #1f2937;
    --primary2: #4b5563;
    --secondary1: #d1d5db;
    --secondary2: #f3f4f6;

    --header: 200px;
    --nav: 350px;
    --footer: 100px;
    --left-margin: 50px;

    --font: 'Roboto', sans-serif;
}

/* ----------------------- */
/* 
skeleton css
 - add scrolling to content
*/
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo{
    width: 4rem;
    height: 4rem;
}

.header{
    height: var(--header);
    background-color: var(--primary1);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title{
    font-family: var(--font);
    font-size: 3rem;
    color: white;
    padding-left: var(--left-margin);
}

.body{
    height: 100%;
    display: flex;
}

.nav{
    background-color: var(--secondary1);
    width: var(--nav);
    font-family: var(--font);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
}

.nav-item{
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.project-nav-tem{
    margin: 10px 10px 10px 40px;
    border-radius: 10px;
    padding: 10px;
}

.project-nav-tem:hover{
    font-weight: bold;
    cursor: pointer;
}

.nav-item:hover{
    font-weight: bold;
    cursor: pointer;
}

.nav div:focus{
    background-color: var(--primary2);
}

#projects-dropdown{
    display: none;
    flex-direction: column;
    overflow: auto;
    max-height: 250px;
}

.projects{
    display: flex;
    
    align-items: center;
}



.content{
    background-color: var(--secondary2);
    width: calc(100vw - var(--nav));
}
/* ----------------------- */

.popup-box-closed{
    font-family: var(--font);
    font-size: 1.2rem;
    border: 2px solid var(--primary1);
    padding: 1rem;
    background-color: var(--secondary2);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 500px;
    margin-top: -150px;
    margin-left: -250px;
}

.popup-stlying{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.open-popup{
    display: block;
}

.close-popup{
    display: none;
}

.popup-background{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.322);
}


/*Task Cards*/
.task-card{
    font-family: var(--font);
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: var(--secondary1);
    margin-bottom: 5px;
    
}

.task-card>div{
    padding: 1rem;
}

.task-card-title{
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.tasks{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.card-title{
    font-size: 1.2rem;
    font-weight:  bold;
}

.card-project{
    font-style: italic;
}

.card-icon{
    width: 25px;
    height: 25px;
    opacity: 0.6;
}

.card-icon:hover{
    opacity: 1;
}

/*Priority Colours*/
.low{
    border-left: 5px solid #84cc16;
}

.medium{
    border-left: 5px solid #eab308;
}

.high{
    border-left: 5px solid #ef4444;
}


.button{
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 1rem;
}

.button:hover{
    background-color: #84cc16;
    cursor: pointer;
}

.content{
    font-family: var(--font);
}

.detail-btn{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 2px solid var(--primary2);
}

.detail-btn:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #84cc16;

}

#description{
    overflow: auto;
    width:70%;
}

input{
    padding: 5px;
}